absl-py==0.12.0
argcomplete==1.10.0
astunparse==1.6.3
beautifulsoup4==4.8.0
cachelib==0.1.1
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
cycler==0.10.0
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
Flask==1.1.2
flatbuffers==1.12
fuzzywuzzy==0.18.0
gast==0.3.3
grpcio==1.32.0
gunicorn==20.0.4
matplotlib==3.4.0
numpy==1.19.5
pandas==1.2.3
rsa==4.7.2
urllib3==1.26.3
