<html>
    <head>
<!--        <script>
            function random_function()
            {
               var a=document.getElementById("bat_team").value;
               const set = {{ans[0][a]}};
               let arr = [...set];
               console.log("arr");
                var string="";
             
                for(i=0;i<arr.length;i++)
                {
                    string=string+"<option value="+arr[i]+">"+arr[i]+"</option>";
                }
                document.getElementById("batsman").innerHTML=string;
            }
        </script> -->
    </head>
    <body>
        <h1>IPL score Predcitor</h1>
        <form method="POST">
            <label>Select Batting Team</label>
        <select id="bat_team" name = "bat_team" onchange="random_function()">
            {% for i in ans[2] %}
            <option value = "{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Select Bowling Team</label>
        <select id="bowl_team" name = "bowl_team" >
            {% for i in ans[3] %}
            <option value = "{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Enter Current Runs scored</label>
        <input type = "text" id = "current_runs" name = "current_runs" placeholder="80" />
        <br>
        <label>Enter Current wickets lost </label>
        <input type = "text" id = "current_wickets" name = "current_wickets" placeholder="2" />
        <br>
        <label>Enter Current over</label>
        <input type = "text" id = "over" name = "over" placeholder="7.2" />
        <br>
        <label>Enter Runs scored in last five overs</label>
        <input type = "text" id = "last_runs" name = "last_runs" placeholder="50" />
        <br>
        <label>Enter wickets lost in last five overs </label>
        <input type = "text" id = "last_wickets" name = "last_wickets" placeholder="1" />
        <br>
        <label>Select Venue of match</label>
        <select id="venue" name = "venue" >
            {% for i in ans[4] %}
            <option value = "{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
            <label>Select Batsman Name</label>
            <select id="batsman" name = "batsman" >
            {% for i in ans[0] %}
            <option value = "{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
            <label>Select Bowler Name</label>
            <select id="bowler" name = "bowler" >
            {% for i in ans[1] %}
            <option value = "{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Predict">
    </form>
    {% if ans[5] != "" %}
    <p>{{ans[5]}}</p>
    {% endif %}
    </body>
</html>